/* -----------------------------------*/
/* -------->>> BREADCRUMB <<<---------*/
/* -----------------------------------*/

/* COMPONENETS > BREADCRUMB
//////////////////////////////////////*/

/**
* @author: H i u k k y
*
* @section componenets/breadcrumb
*/

// Breadcrumb
.breadcrumb {
    height: 50px;
    @include calc(width, '100% - 10px');
    background: $light;
    padding: 0px 5px 0px 5px;
    margin-bottom: 10px;
    @include font($roboto, $grey);

    @extend %flex-row;
    justify-content: space-between;
    align-items: center;

    @if & {
        .description {
            height: 50px;
            width: 100%;   
        }
    }
}