// Utils
@import '../utils/dashmin.scss';

// Base
body {
    font-family: $roboto;
}

label {
    margin-bottom: 10px;
}

// Content
.content {
    @include initProperties(fixed, 100%, 100%);
    top: 70px;
    padding: 20px;
    transition: .3s;
}

// Breakpoints
@media only screen and (min-width: 576px){
    .content {
        width: calc(100% - 200px);
        left: 200px;
    }
    .content-min {
        @include initProperties(fixed, 100%, calc(100% - 50px));
        top: 70px;
        left: 50px;
        padding: 20px;
        transition: .3s;
    }
}