// Base
$roboto: 'Roboto', sans-serif;

body {
    font-family: $roboto;
}

label {
    margin-bottom: 10px;
}

// Content
.content {
    height: 100%;
    width: 100%;
    position: relative;
    top: 70px;
    padding: 20px;
    transition: .3s;
}

// Breakpoints
@media only screen and (min-width: 576px){
    .content {
        width: calc(100% - 200px);
        left: 200px;
    }
    .content-min {
        height: 100%;
        width: calc(100% - 50px);
        position: relative;
        top: 70px;
        left: 50px;
        padding: 20px;
        transition: .3s;
    }
}