// Utils
@import '../utils/dashmin.scss';

// Base
body {
    font-family: $roboto;
}

// Content
.content {
    @include initProperties(relative, calc(100vh - 50px), 100%);
    top: 50px;
    padding: 20px 0px 20px 0px;
    transition: .3s;
    background: rgba(241, 242, 246, 0.4);
}

// Content min
.content--min {
    @extend .content;
}

// Breakpoints
@media only screen and (min-width: 576px){
    .content {
        width: calc(100% - 200px);
        left: 200px;
        padding: 20px;
    }
    .content--min {
        width: calc(100% - 50px);
        left: 50px;
        padding: 20px;
    }
}