/* -----------------------------------*/
/* ---------->>> CONTENT <<<----------*/
/* -----------------------------------*/

/* LAYOUT > CONTENT
//////////////////////////////////////*/

/**
* @author: H i u k k y
*
* @section layout/content
*/

// Content
.content {
    @include calc(width, '100% - 40px');
    height: 100%;
    margin-top: 50px;
    padding: 20px;
    @extend %flex-collumn;
    justify-content: space-between;
}

// Content min
.content-min {
    @include calc(width, '100% - 90px');
    margin: 50px 0px 0px 50px;
    height: 100%;
    padding: 20px
}

// Dashboard
.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

// Breakpoints
// 768px
@media only screen and (min-width: 768px){
    .content {
        @include calc(width, '100% - 240px');
        margin: 50px 0px 0px 200px;
    }
    .dashboard {
        grid-template-columns: 1fr 1fr;
    }
}

// 1200px
@media only screen and (min-width: 1200px){
    .dashboard {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}