// Variables
$roboto: 'Roboto', sans-serif;
$quicksand: 'Quicksand', sans-serif;

// Sidebar
.sidebar {
    position: fixed;
    height: calc(100vh - 50px);
    width: 0;
    top: 50px;
    background: rgba(62, 81, 117, 1);
    transition: .3s;
    box-shadow: 10px 2px 15px rgba(56, 56, 56, 0.2);
    overflow: hidden;
    z-index: 100;

    @if & {
        .sidebar-brand {
            position: relative;
            height: 50px;
            width: 200px;
            transition: .3s;

            display: flex;
            align-items: center;
            justify-content: center;

            @if & {
                .link-brand {
                    font-family: $quicksand;
                    color: #FFF;
                    font-size: 1.1rem;

                    strong {
                        font-weight: bold;
                    }
                }   
                
                .lg{
                    display: block;
                }
                .xs{
                    display: none;
                }
            }
        }

        .sidebar-profile {
            position: relative;
            height: 70px;
            width: 200px;

            display: flex;
            justify-content: center;
            align-items: center;

            @if & {
                .image-status {
                    position: relative;
                    height: 40px;
                    width: 40px;
                    transition: .3s;

                    @if & {
                        .img-profile {
                            height: 40px;
                            width: 40px;
                            border-radius: 50px;
                            
                        }
                    }
                }

                .user-name {
                    font-family: $roboto;
                    color: #fff;
                    font-size: .8rem;
                    margin-left: 10px;
                }
                
            }
        }

        .sidebar-buttons {
            position: relative;
            height: calc(100vh - 200px);
            width: 200px;
            overflow: auto;
            transition: .3s;
            cursor: pointer;
            
            &::-webkit-scrollbar{
                width: 0;
            }

            @if & {
                .side-button {
                    height: 45px;
                    width: 198px;
                    display: flex;
                    align-items: center;
                    border: 2px solid transparent;
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 0;
                    border: 0px, 0px, 0px, 2px;
                    transition: .3s;

                    &:hover{
                        background: rgba(241, 242, 246, 0.1);
                        border: 2px solid #f1f2f6;  
                        border-right: 0;
                        border-top: 0;
                        border-bottom: 0;
                        padding-left: 5px;
                        transition: .3s;
                    }

                    @if &{
                        .fas{
                            color: #f1f2f6!important;
                            padding: 0px 20px 0px 30px;
                            font-size: 1rem;
                            width: 20px;
                            height: 20px;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    @if &{
                        .button-name{
                            font-family: $quicksand;
                            color: #fff;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }

        .sidebar-footer{
            position: relative;
            height: 30px;
            width: 200px;
            transition: .3s;

            display: flex;
            justify-content: center;
            align-items: center;
        
            bottom: 0;
        
            @if &{
                .footer-org{
                    font-family: $quicksand;
                    color: #fff;
                    font-size: .8rem;

                    @if &{
                        strong{
                            font-weight: bold;
                        }
                    }
                }
                .lg{
                    display: block;
                }
                .xs{
                    display: none;
                }
            }
        }
    
    }
}

// Sidebar min
.sidebar-min {
    @extend .sidebar;
    width: 0px !important;
    transition: .3s;

    @if &{
        // Brand
        .sidebar-brand{
            width: 50px !important;

            .lg{
                display: none;
            }
            .xs{
                display: block;
            }
        }

        // Profile
        .sidebar-profile {
            position: relative;
            height: 70px;
            width: 50px;
            transition: .3s;

            .image-status{
                position: absolute;
                height: 40px;
                width: 40px;
            }
            @if & {
                .user-name, .user-function{
                    font-size: 0;
                }
            }
        }

        // Buttons
        .sidebar-buttons{
            position: relative;
            height: calc(100vh - 200px);
            width: 50px;

            @if &{
                .side-button{
                    height: 45px;
                    width: 48px;
                    justify-content: center;
                    transition: .3s;
                }
                .button-name{
                    display: none;  
                }
                .fas{
                    padding: 0 !important;
                }
            }
        }

        // Footer
        .sidebar-footer {
            width: 50px !important;

            @if & {
                .lg{
                    display: none;
                }
                .xs{
                    display: block;
                }
            }
        }
    }
}

.sidebar-brand, .menu-name, .sidebar-buttons, .sidebar-footer{
    background: rgba(245, 246, 250, 0.1);
}

// State
.is-open {
    width: 200px;
}

// Status Online
.is-online{
    position: absolute;
    height: 9px;
    width: 9px;
    right: 2px;
    bottom: 2px;
    border-radius: 50px;
    background: rgba(0, 184, 148, 1);
}

// Status Notification
.notification{
    position: absolute;
    height: 10px;
    width: 10px;
    right: 7px;
    bottom: 7px;
    border-radius: 50px;
    background: rgba(85, 239, 196, 1); 
}

// Breakpoints
@media only screen and (min-width: 576px){
    // Sidebar
    .sidebar {
        height: 100vh;
        width: 200px;
        top: 0;

        @if & {
            .sidebar-buttons {
                height: calc(100vh - 150px);
            }
        }
    }

    // Sidebar-min
    .sidebar-min{
        width: 50px !important;
    }
}