// Utils
@import '../utils/dashmin.scss';

// Sidebar
.sidebar {
    @include initProperties(fixed, calc(100vh -50px), 0);
    top: 50px;
    background: rgba(62, 81, 117, 1);
    transition: .3s;
    box-shadow: 10px 2px 15px rgba(56, 56, 56, 0.2);
    overflow: hidden;
    z-index: 100;

    @if & {
        // Brand
        &__brand {
            @include initProperties(relative, 50px, 200px);
            @extend %flex-center;
            transition: .3s;

            &-link {
                @include font($quicksand, #fff, 1.1rem);

                strong {
                    font-weight: bold;
                }
            }   
            
            .lg{
                display: block;
            }
            .xs{
                display: none;
            }
        }

        // Profile
        &__profile {
            @include initProperties(relative, 70px, 200px);
            @extend %flex-center;

            &__avatar-status {
                @include initProperties(relative, 40px, 40px);
                transition: .3s;

                &__avatar {
                    height: 40px;
                    width: 40px;
                    border-radius: 50px;
                }
            }

            &__name {
                @include font($roboto, #fff, .8rem);
                margin-left: 10px;
            }
        }

        // Buttons
        &__buttons {
            @include initProperties(relative, calc(100vh - 200px), 200px);
            overflow: auto;
            transition: .3s;
            cursor: pointer;
            
            &::-webkit-scrollbar{
                width: 0;
            }

            
            &__section-title {
                @include font($roboto, rgba(255, 255, 255, 0.8), .7rem);
                @extend %flex-center;
                height: 30px;
                padding-left: 10px;

                @if & {
                    hr {
                        width: 100%;
                        border: .5px solid #fff;
                        margin-left: 5px;
                    }
                }
            }

            &__btn {
                @include initProperties(relative, 45px, 198px);
                display: flex;
                align-items: center;
                border: 2px solid transparent;
                border-right: 0;
                border-top: 0;
                border-bottom: 0;
                border: 0px, 0px, 0px, 2px;
                transition: .3s;

                &:hover{
                    background: rgba(241, 242, 246, 0.1);
                    border: 2px solid #f1f2f6;  
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 0;
                    padding-left: 5px;
                    transition: .3s;
                }

                .fas{
                    @include initProperties(relative, 20px, 20px);
                    @extend %flex-center;
                    color: #f1f2f6!important;
                    padding: 0px 20px 0px 30px;
                    font-size: 1rem;
                }

                &-name {
                    @include font($quicksand, #fff, .8rem);
                }
            }
        }

        // Footer
        .sidebar__footer {
            @include initProperties(relative, 30px, 200px);
            @extend %flex-center;
            transition: .3s;
            bottom: 0;
        
            &__org {
                @include font($quicksand, #fff, .8rem);

                @if &{
                    strong{
                        font-weight: bold;
                    }
                }
            }
            .lg{
                display: block;
            }
            .xs{
                display: none;
            }
        }
    }
}

// Sidebar min
.sidebar--min {
    @extend .sidebar;
    width: 0px !important;
    transition: .3s;

    @if &{
        // Brand
        .sidebar__brand {
            width: 50px !important;

            .lg {
                display: none;
            }
            .xs {
                display: block;
            }
        }

        // Profile
        .sidebar__profile {
            @include initProperties(relative, 70px, 50px);
            transition: .3s;

            .sidebar__profile__avatar-status {
                @include initProperties(absolute, 40px, 40px);
            }
            
            .sidebar__profile__name{
                font-size: 0;
            }
        }

        // Buttons
        .sidebar__buttons {
            @include initProperties(relative, calc(100vh - 200px), 50px);

            @if & {
                .sidebar__buttons__section-title {
                    display: none;
                }
                .sidebar__buttons__btn {
                    @include initProperties(relative, 45px, 45px);
                    justify-content: center;
                    transition: .3s;
                }
                .sidebar__buttons__btn-name {
                    display: none;  
                }
                .fas{
                    padding: 0 !important;
                }
            }
        }

        // Footer
        .sidebar__footer {
            width: 50px !important;

            @if & {
                .lg{
                    display: none;
                }
                .xs{
                    display: block;
                }
            }
        }
    }
}

// Mobile
.sidebar--mobile {
    @extend .sidebar;
    width: 200px;
}

// Opacity default
.sidebar__brand, .sidebar__buttons, .sidebar__footer{
    background: rgba(245, 246, 250, 0.1);
}

// Breakpoints
@media only screen and (min-width: 576px){
    // Sidebar
    .sidebar {
        @include initProperties(fixed, 100vh, 200px);
        top: 0;

        @if & {
            .sidebar__buttons {
                height: calc(100vh - 150px);
            }
        }
    }

    // Sidebar-min
    .sidebar--min {
        width: 50px !important;
    }
}