// Utils
@import '../utils/dashmin.scss';

// Sidebar
.sidebar {
    @include initProperties(fixed, calc(100vh -50px), 0);
    top: 50px;
    background: rgba(62, 81, 117, 1);
    transition: .3s;
    box-shadow: 10px 2px 15px rgba(56, 56, 56, 0.2);
    overflow: hidden;
    z-index: 100;

    @if & {
        .sidebar-brand {
            @include initProperties(relative, 50px, 200px);
            @extend %flex-center;
            transition: .3s;

            @if & {
                .link-brand {
                    @include font($quicksand, #fff, 1.1rem);

                    strong {
                        font-weight: bold;
                    }
                }   
                
                .lg{
                    display: block;
                }
                .xs{
                    display: none;
                }
            }
        }

        .sidebar-profile {
            @include initProperties(relative, 70px, 200px);
            @extend %flex-center;

            @if & {
                .image-status {
                    @include initProperties(relative, 40px, 40px);
                    transition: .3s;

                    @if & {
                        .img-profile {
                            height: 40px;
                            width: 40px;
                            border-radius: 50px;
                            
                        }
                    }
                }

                .user-name {
                    @include font($roboto, #fff, .8rem);
                    margin-left: 10px;
                }
                
            }
        }

        .sidebar-buttons {
            @include initProperties(relative, calc(100vh - 200px), 200px);
            overflow: auto;
            transition: .3s;
            cursor: pointer;
            
            &::-webkit-scrollbar{
                width: 0;
            }

            @if & {

                .section-title {
                    @include font($roboto, rgba(255, 255, 255, 0.8), .7rem);
                    @extend %flex-center;
                    height: 30px;
                    padding-left: 10px;

                    @if & {
                        hr {
                            width: 100%;
                            border: .5px solid #fff;
                            margin-left: 5px;
                        }
                    }
                }

                .hide {
                    display: none;
                }

                .side-button {
                    @include initProperties(relative, 45px, 198px);
                    display: flex;
                    align-items: center;
                    border: 2px solid transparent;
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 0;
                    border: 0px, 0px, 0px, 2px;
                    transition: .3s;

                    &:hover{
                        background: rgba(241, 242, 246, 0.1);
                        border: 2px solid #f1f2f6;  
                        border-right: 0;
                        border-top: 0;
                        border-bottom: 0;
                        padding-left: 5px;
                        transition: .3s;
                    }

                    @if &{
                        .fas{
                            @include initProperties(relative, 20px, 20px);
                            @extend %flex-center;
                            color: #f1f2f6!important;
                            padding: 0px 20px 0px 30px;
                            font-size: 1rem;
                        }
                    }

                    @if &{
                        .button-name{
                            @include font($quicksand, #fff, .8rem);
                        }
                    }
                }
            }
        }

        .sidebar-footer{
            @include initProperties(relative, 30px, 200px);
            @extend %flex-center;
            transition: .3s;
            bottom: 0;
        
            @if &{
                .footer-org{
                    @include font($quicksand, #fff, .8rem);

                    @if &{
                        strong{
                            font-weight: bold;
                        }
                    }
                }
                .lg{
                    display: block;
                }
                .xs{
                    display: none;
                }
            }
        }
    
    }
}

// Sidebar min
.sidebar-min {
    @extend .sidebar;
    width: 0px !important;
    transition: .3s;

    @if &{
        // Brand
        .sidebar-brand{
            width: 50px !important;

            .lg{
                display: none;
            }
            .xs{
                display: block;
            }
        }

        // Profile
        .sidebar-profile {
            @include initProperties(relative, 70px, 50px);
            transition: .3s;

            .image-status{
                @include initProperties(absolute, 40px, 40px);
            }
            
            @if & {
                .user-name, .user-function{
                    font-size: 0;
                }
            }
        }

        // Buttons
        .sidebar-buttons{
            @include initProperties(relative, calc(100vh - 200px), 50px);

            @if &{
                .side-button{
                    @include initProperties(relative, 45px, 45px);
                    justify-content: center;
                    transition: .3s;
                }
                .button-name{
                    display: none;  
                }
                .fas{
                    padding: 0 !important;
                }
            }
        }

        // Footer
        .sidebar-footer {
            width: 50px !important;

            @if & {
                .lg{
                    display: none;
                }
                .xs{
                    display: block;
                }
            }
        }
    }
}

// Opacity default
.sidebar-brand, .menu-name, .sidebar-buttons, .sidebar-footer{
    background: rgba(245, 246, 250, 0.1);
}

// State
.is-open {
    width: 200px;
}

// Status Online
.is-online{
    @include initProperties(absolute, 9px, 9px);
    right: 2px;
    bottom: 2px;
    border-radius: 50px;
    background: rgba(0, 184, 148, 1);
}

// Breakpoints
@media only screen and (min-width: 576px){
    // Sidebar
    .sidebar {
        @include initProperties(fixed, 100vh, 200px);
        top: 0;

        @if & {
            .sidebar-buttons {
                height: calc(100vh - 150px);
            }
        }
    }

    // Sidebar-min
    .sidebar-min{
        width: 50px !important;
    }
}