// Utils
@import '../../../utils/dashmin.scss';

// DropDown navbar
.dropdown {
    @include initProperties(absolute, 300px, 210px);
    right: 0;
    top: 0;
    background: #f1f2f6;
    box-shadow: -4px 5px 10px rgba(56, 56, 56, 0.2);
    transition: .1s;

    // Profile
    &__profile {
        @include initProperties(relative, 120px, 100%);
        @extend %flex-center;
        flex-direction: column;
    
        &__avatar {
            @include initProperties(relative, 50px, 50px);
            border-radius: 50px;
            cursor: pointer;
        }

        &__name {
            @include font($roboto, rgba(56, 56, 56, 0.7), .9rem);
            margin-top: 7px;
            font-weight: bold;
        }

        &__function {
            @include font($roboto, rgba(56, 56, 56, 0.7), .72rem);
            margin-top: 5px;
        }
    }

    // Buttons
    &__buttons {
        @include initProperties(relative, 180px, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        &__btn {
            @include initProperties(relative, 40px, 100%);
            transition: .3s;
            display: flex;
            align-items: center;

            &:hover {
                background: rgba(56, 56, 56, 0.1);
                transition: .3s; 
            }

            &-name {
                @include font($roboto, rgba(56, 56, 56, 0.7), .85rem);
            }

            .fas {
                @include initProperties(relative, 20px, 20px);
                @extend %flex-center;
                font-size: 1rem;
                padding: 0px 15px 0px 25px;
            }

            .fa-sign-out-alt {
                color: rgba(225, 112, 85, 1) !important;
            }
        }
    }
}

// Dropdown min
.dropdown--min {
    @extend .dropdown;
    @include initProperties(relative, 50px, 50px);
    overflow: hidden;
    box-shadow: none;
    right: 10px;

    // Profile
    .dropdown__profile {
        @include initProperties(relative, 50px, 50px);
        @extend %flex-center;
        flex-direction: row;

        &__avatar {
            @include initProperties(relative, 35px, 35px);
            border-radius: 50px;
        }
        &__name, &__function {
            font-size: 0;
        }
    }

    // Buttons
    .dropdown__buttons, hr{
        display: none;
    }
}

// Utils
hr {
    margin: 0;
    border: solid 0.5px rgba(45, 52, 54, 1);
    opacity: 0.1; 
}