/* -----------------------------------*/
/* ------------>>> BOX <<<------------*/
/* -----------------------------------*/

/* THEME > BOX
//////////////////////////////////////*/

/**
* @author: H i u k k y
*
* @section theme/box
*/

// Default
.box {
    background: $light-dark;
    color: $grey;
}
.box-dash {
    background: $light;
}

// Skins
.box-purple {
    background: $purple;
}

.box-blue {
    background: $blue;
}

.box-yellow {
    background: $yellow;
}

.box-green {
    background: $green;
}