/* -----------------------------------*/
/* ---------->>> COLORS <<<------------*/
/* -----------------------------------*/

/**
* @author: H i u k k y
*
*/

/* COLORS */
$blue:       rgba(75, 101, 132, 1);    // Blue
$dark:       rgba(45, 52, 54, 1);      // Dark
$gray:       rgba(56, 56, 56, 0.7);    // Gray
$white:      rgba(255, 255, 255, 1);   // White
$green:      rgba(0, 184, 148, 1);     // Green
$green-light:rgba(85, 239, 196, 1);    // Green-light
$red:        rgba(225, 112, 85, 1);    // Red
$purple:     rgba(120, 111, 166, 1);   // Purple
$yellow:     rgba(250, 211, 144, 1);   // Yellow

// Opacity for Sidebar
$light:      rgba(245, 246, 250, 0.1); // Bank very clear
$shadow:     rgba(56, 56, 56, 0.2);    // Dark

/* Others */
$gray-1:       rgba(220, 221, 225, 0.2);    // Gray