/* -----------------------------------*/
/* ------------>>> COLORS <<<---------*/
/* -----------------------------------*/

/* THEME > COLORS
//////////////////////////////////////*/

/**
* @author: H i u k k y
*
* @section: theme/colors
*/

// Colors
$dark:       rgba(45, 52, 54, 1);      // Dark
$white:      rgba(255, 255, 255, 1);   // White
$light:      rgba(245, 246, 250, 1);   // White-light
$blue:       rgba(75, 101, 132, 1);    // Blue
$yellow:     rgba(250, 211, 144, 1);   // Yellow
$green:      rgba(0, 184, 148, 1);     // Green
$green-light:rgba(85, 239, 196, 1);    // Green-light
$purple:     rgba(120, 111, 166, 1);   // Purple
$grey:       rgba(56, 56, 56, 0.7);    // Grey
$red:        rgba(225, 112, 85, 1);    // Red

// Opacity for Sidebar
$linx-white: rgba(245, 246, 250, 0.1); // Bank very clear

// Shadow
$shadow:     rgba(56, 56, 56, 0.2);    // Dark

/* Custom */
$white-light:rgba(245, 246, 250, 0.4); // Form