/* -----------------------------------*/
/* ----------->>> FORM <<<------------*/
/* -----------------------------------*/

/* THEME > FORM
//////////////////////////////////////*/

/**
* @author: H i u k k y
*
* @section theme/form
*/

// Default
.form {
    background: $white-light;
}

// Skins
.form-purple {
    border-top: 5px solid $purple;
}

.form-blue {
    border-top: 5px solid $blue;
}

.form-yellow {
    border-top: 5px solid $yellow;
}

.form-green {
    border-top: 5px solid $green;
}