/* -----------------------------------*/
/* ------------>>> NAVBAR <<<---------*/
/* -----------------------------------*/

/* THEME > NAVBAR
//////////////////////////////////////*/

/**
* @author: H i u k k y
*
* @section: theme/navbar
*/

// Default
.fas {
    color: $grey !important;
}

.dropdown-user{
    background: $white;
    box-shadow: -4px 5px 10px $shadow;

    @if &{
        .fa-sign-out-alt {
            color: $red !important;
        }
    }
}

// Skins
.navbar-light {
    background: $white;
    box-shadow: -4px 5px 10px $shadow;
}

// Utils
.hr-dark {
    margin: 0;
    border: solid 0.5px $dark;
    opacity: 0.1;
}