/* -----------------------------------*/
/* ----------->>> SIDEBAR <<<---------*/
/* -----------------------------------*/

/* THEME > SIDEBAR
//////////////////////////////////////*/

/**
* @author: H i u k k y
*
* @section theme/sidebar
*/
// Default
.sidebar {
    box-shadow: 10px 2px 15px $shadow; 
}
.sidebar-brand, .menu-name, .sidebar-buttons, .sidebar-footer{
    background: $linx-white;
}

// Skins
.sidebar-blue {
    background: $blue;       
}

// Utils
.hr-light {
    margin: 0;
    border: solid 0.5px $light;
    opacity: 0.2;
}