/* -----------------------------------*/
/* ---------->>> SKINS <<<------------*/
/* -----------------------------------*/

/**
* @author: H i u k k y
*
*/

// Skins
.bg-purple {
    background: $purple;
}

.bg-blue {
    background: $blue;
}

.bg-yellow {
    background: $yellow;
}

.bg-green {
    background: $green;
}