/* -----------------------------------*/
/* ---------->>> THEME <<<------------*/
/* -----------------------------------*/

/**
* @author: H i u k k y
*
*/

/* DEFAULT */
// Fas
.fas {
    color: $gray !important;
}

// Sidebar
.sidebar {
    box-shadow: 10px 2px 15px $shadow; 
}
.sidebar-brand, .menu-name, .sidebar-buttons, .sidebar-footer{
    background: $light;
}

// Navbar
.navbar {
    box-shadow: -4px 5px 10px $shadow;
}
.dropdown-user{
    background: $light;
    box-shadow: -4px 5px 10px $shadow;

    @if &{
        .fa-sign-out-alt {
            color: $red !important;
        }
    }
}

// BOX
.box-dash {
    background: $gray-1;
}

/* UTILS */
.hr-dark {
    margin: 0;
    border: solid 0.5px $dark;
    opacity: 0.1;
}
.hr-light {
    margin: 0;
    border: solid 0.5px $light;
    opacity: 0.2;
}