/* -----------------------------------*/
/* ------------>>> STATE <<<----------*/
/* -----------------------------------*/

/**
* @author: H i u k k y
*
*/

// Status Online
.is-online{
    @include initProperties(absolute, 9px, 9px);
    right: 2px;
    bottom: 2px;
    border-radius: 50px;
    background: $green;
}

// Status Notification
.notification{
    @include initProperties(absolute, 10px, 10px);
    right: 7px;
    bottom: 7px;
    border-radius: 50px;
    background: $green-light; 
}