/* -----------------------------------*/
/* ----------->>> UTIL <<<------------*/
/* -----------------------------------*/

/**
* @author: H i u k k y
*
*/

// FLEX
%flex-center {            
    display: flex;
    justify-content: center;
    align-items: center;
};
%flex-column{
    display: flex;
    flex-direction: column;
};
%flex-row{
    display: flex;
    flex-direction: row;
};