/* -----------------------------------*/
/* ---------->>> VARIABLES <<<--------*/
/* -----------------------------------*/

/* VARIABLES > VARIABLES
//////////////////////////////////////*/

/**
* @author: H i u k k y
*
* @section: variables/variables
*/

/* L A Y O U T
//////////////////////////////////////*/

// Navbar
$navbar-height: 50px;

// Sidebar
$sidebar-max: 200px;
$sidebar-min: 50px;

/* F O N T S
//////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto');

$roboto: 'Roboto', sans-serif;
$quicksand: 'Quicksand', sans-serif;